<!--<table class="table" id="table-apteka">
    <caption>
        <h2 class=" text-center">Аптека</h2>
    </caption>

    <tr class="danger" ng-repeat="item in apt.apteka track by $index">

        <th class="th-class">

            <img ng-src="{{item.imgPath}}" </th>
            <th class="text-center th-text">

                <h4>{{item.description}}</h4>

            </th>
    </tr>

</table>-->

<div class="col-md-3 ">
    <img src="images/doctor/apteka2.jpg">
</div>
<hr class="visible-sm visible-xs">
<div class="col-md-3">
    <strong>SFL - Support-Full Rebuild complex</strong> - unique combination of natural components: vitamins and herbs only.<br> 6 weeks supply.<br> Уникальная комбинация натуральных ортомолекулярных препаратов для полного востановления (обновления) организма,
    <strong>УМЕНЬШАЕТ ТЯГУ К АЛКОГОЛЮ, КУРЕНИЮ.</strong><br> на 6-8 недель
</div>
<hr class="visible-sm visible-xs">
<div class="col-md-3">
    <ul><strong>Используется в следующих ситуациях:</strong>
        <li>неоходимость уменьшения или ограничения приёма алкоголя</li>
        <li>длительное отравление алкоголем</li>
        <li>циррозы, жировая дистрофия печени</li>
        <li>отравление ядами, действующими на печень</li>
        <li>химеотерапия</li>
    </ul>
</div>
<hr class="visible-sm visible-xs">
<div class="col-md-3">
    <ul><strong>Требуется при следующих состояниях:</strong>
        <li>алкоголизм, алкогольный гепатит</li>
        <li>бессоница, депрессия, тревожность</li>
        <li>беспокойство, подавленность, чувство страха</li>
        <li>заболевание органов кроветворения</li>
        <li>нарушение пищеварения, энтерит, колит</li>
        <li>грипп и острые вирусные заболевания</li>
        <li>импотенция - снижение эректильной функции и либидо</li>
        <li>укрепление имунной и нервной системы</li>
        <li>синдром хронической усталости</li>
        <li>расстройство внимания и (или) гиперактивность</li>
        <li>укрепление сердечно-сосудистой системы</li>
        <li>отёки различного происхождения</li>
    </ul>
</div>
<hr class="hr-style">
<div class="col-md-3 ">
    <img src="images/doctor/apteka3.jpg">
</div>
<hr class="visible-sm visible-xs">
<div class="col-md-3">
    <strong>SFL - Support-Full Rebuild complex</strong> - unique combination of natural components: vitamins and herbs only.<br> 6 weeks supply.<br> Уникальная комбинация натуральных ортомолекулярных препаратов для полного востановления (обновления) организма,
    <strong>УМЕНЬШАЕТ ТЯГУ К АЛКОГОЛЮ, КУРЕНИЮ.</strong><br> на 6-8 недель
</div>
<hr class="visible-sm visible-xs">
<div class="col-md-3">
    <ul><strong>Используется в следующих ситуациях:</strong>
        <li>неоходимость уменьшения или ограничения приёма алкоголя</li>
        <li>длительное отравление алкоголем</li>
        <li>циррозы, жировая дистрофия печени</li>
        <li>отравление ядами, действующими на печень</li>
        <li>химеотерапия</li>
    </ul>
</div>
<hr class="visible-sm visible-xs">
<div class="col-md-3">
    <ul><strong>Требуется при следующих состояниях:</strong>
        <li>алкоголизм, алкогольный гепатит</li>
        <li>бессоница, депрессия, тревожность</li>
        <li>беспокойство, подавленность, чувство страха</li>
        <li>заболевание органов кроветворения</li>
        <li>нарушение пищеварения, энтерит, колит</li>
        <li>грипп и острые вирусные заболевания</li>
        <li>импотенция - снижение эректильной функции и либидо</li>
        <li>укрепление имунной и нервной системы</li>
        <li>синдром хронической усталости</li>
        <li>расстройство внимания и (или) гиперактивность</li>
        <li>укрепление сердечно-сосудистой системы</li>
        <li>отёки различного происхождения</li>
    </ul>
</div>
<hr class="hr-style">
<div class="col-md-3 ">
    <img src="images/doctor/apteka3.jpg">
</div>
<hr class="visible-sm visible-xs">
<div class="col-md-3">
    <strong>SFL - Support-Full Rebuild complex</strong> - unique combination of natural components: vitamins and herbs only.<br> 6 weeks supply.<br> Уникальная комбинация натуральных ортомолекулярных препаратов для полного востановления (обновления) организма,
    <strong>УМЕНЬШАЕТ ТЯГУ К АЛКОГОЛЮ, КУРЕНИЮ.</strong><br> на 6-8 недель
</div>
<hr class="visible-sm visible-xs">
<div class="col-md-3">
    <ul><strong>Используется в следующих ситуациях:</strong>
        <li>неоходимость уменьшения или ограничения приёма алкоголя</li>
        <li>длительное отравление алкоголем</li>
        <li>циррозы, жировая дистрофия печени</li>
        <li>отравление ядами, действующими на печень</li>
        <li>химеотерапия</li>
    </ul>
</div>
<hr class="visible-sm visible-xs">
<div class="col-md-3">
    <ul><strong>Требуется при следующих состояниях:</strong>
        <li>алкоголизм, алкогольный гепатит</li>
        <li>бессоница, депрессия, тревожность</li>
        <li>беспокойство, подавленность, чувство страха</li>
        <li>заболевание органов кроветворения</li>
        <li>нарушение пищеварения, энтерит, колит</li>
        <li>грипп и острые вирусные заболевания</li>
        <li>импотенция - снижение эректильной функции и либидо</li>
        <li>укрепление имунной и нервной системы</li>
        <li>синдром хронической усталости</li>
        <li>расстройство внимания и (или) гиперактивность</li>
        <li>укрепление сердечно-сосудистой системы</li>
        <li>отёки различного происхождения</li>
    </ul>
</div>