<ul><strong>Используется в следующих ситуациях:</strong>
    <li>неоходимость уменьшения или ограничения приёма алкоголя</li>
    <li>длительное отравление алкоголем</li>
    <li>циррозы, жировая дистрофия печени</li>
    <li>отравление ядами, действующими на печень</li>
    <li>химеотерапия</li>
</ul>
<ul><strong>Требуется при следующих состояниях:</strong>
    <li>алкоголизм, алкогольный гепатит</li>
    <li>бессоница, депрессия, тревожность</li>
    <li>беспокойство, подавленность, чувство страха</li>
    <li>заболевание органов кроветворения</li>
    <li>нарушение пищеварения, энтерит, колит</li>
    <li>грипп и острые вирусные заболевания</li>
    <li>импотенция - снижение эректильной функции и либидо</li>
    <li>укрепление имунной и нервной системы</li>
    <li>синдром хронической усталости</li>
    <li>расстройство внимания и (или) гиперактивность</li>
    <li>укрепление сердечно-сосудистой системы</li>
    <li>отёки различного происхождения</li>
</ul>