<div class="jumbotron">
    <h1>Добро пожаловать в счастливую новую жизнь!</h1>
    <div id="picture-jumbo">
        <img src="images/background.jpg" alt="Sea and Sun" id="background-image">
        <div id="button-jumbo1">
            <a <button class="btn btn-success btn-lg hidden-xs" href="#/narcology" role="button">Наркология</button></a>
            <a <button class="btn btn-success btn-xs visible-xs" href="#/narcology" role="button">Наркология</button></a>
        </div>
        <div id="button-jumbo2">
            <a href="#/doctorLeonid"><button class="btn btn-success btn-lg hidden-xs" type="button">Doctor Leonid</button></a>
        </div>
        <div id="button-jumbo3">
            <a href="#/doctorLeonid"><button class="btn btn-success btn-xs visible-xs" type="button">Doctor Leonid</button></a>
        </div>
    </div>
</div>