<h1 class="text-center"></h1>
<div class="row row-content" id="narcology">
    <div class="col-xs-12">
        <u><h2 class="text-center">Наркология</h2></u>
    </div>
</div>
<!--end of row-->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h3 class="text-center narc-header">
            Оценка предрасположенности к алкоголю
            <a href="" ng-click="show1=true">
                <i ng-hide="show1" class="glyphicon glyphicon-plus"></i>
            </a>
            <a href="" ng-click="show1=false">
                <i ng-show="show1" class="glyphicon glyphicon-minus"></i>
            </a>
        </h3>
        <div ng-show="show1" class="accord-narc">
            <estimate></estimate>
        </div>
    </div>
</div>
<!--end of row-->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h3 class="text-center narc-header">
            Что надо знать человеку в начале лечения:
            <a href="" ng-click="show2=true">
                <i ng-hide="show2" class="glyphicon glyphicon-plus"></i>
            </a>
            <a href="" ng-click="show2=false">
                <i ng-show="show2" class="glyphicon glyphicon-minus"></i>
            </a>
        </h3>
        <div ng-show="show2" class="accord-narc">
            <beginning></beginning>
        </div>
    </div>
</div>
<!--end of row-->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h3 class="text-center narc-header">
            Необходимо определить степень предрасположенности к алкоголизму
            <a href="" ng-click="show3=true">
                <i ng-hide="show3" class="glyphicon glyphicon-plus"></i>
            </a>
            <a href="" ng-click="show3=false">
                <i ng-show="show3" class="glyphicon glyphicon-minus"></i>
            </a>
        </h3>
        <div ng-show="show3" class="accord-narc">
            <anketa></anketa>
        </div>
    </div>
</div>
<!--end of row-->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h3 class="text-center narc-header">
            Стадии Алкоголизма
            <a href="" ng-click="show4=true">
                <i ng-hide="show4" class="glyphicon glyphicon-plus"></i>
            </a>
            <a href="" ng-click="show4=false">
                <i ng-show="show4" class="glyphicon glyphicon-minus"></i>
            </a>
        </h3>
        <div ng-show="show4" class="accord-narc">
            <stadiya></stadiya>
        </div>
    </div>
</div>
<!--end of row-->
<div class="row row-content" id="methodology">
    <div class="col-xs-12">
        <u><h2 class="text-center">Методика</h2></u>
    </div>
</div>
<!--end of row-->
<div class="row">
    <div class="col-sm-4">
        <p>Some text</p>
    </div>
    <div class="col-sm-4">
        <p>Some text</p>
    </div>
    <div class="col-sm-4">
        <p>Some text</p>
    </div>
</div>
<!--end of row-->

<div class="row">
    <div class="col-xs-12">
        <img src="images/most.jpg" alt="bridge" class="image-most">
    </div>
</div>
<!--end of row-->