<ul>
    <li>Бытовое пьянство может вести к алкоголизму</li>
    <li>Ранний алкоголизм отмечен появлением провалов в памяти</li>
    <li>Базовый алкоголизм - пьющий не может остановится пока не достигает фазы отравления</li>
    <li>Дальнейший алкоголизм характеризуется дальнейшим моральным упадком, смутными страхами, фантазиями и психопатическим поведением</li>
    <li>Конечная стадия алкоголизма если алкоголик отказявется от лечения или срывается после лечения, в результате наступает смерть</li>
</ul>